h1 {
    font-family: monospace;
    font-weight: 900;
    color: #0E0E0E;
}

p {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #0E0E0E;
    padding: 0 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #0E0E0E;
    /*font-size: 0.825em;*/
    padding: 0 5px;
}

blockquote {
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    background-color: #FFFFFF;
}

code {
    font-family: 'Fira Code', monospace;
    font-weight: 900;
    background-color: #EEEEEE;
    color: #0E0E0E;
    padding: 0 5px;
    border-radius: 0px;
}

sec {
    font-family: 'Fira Code', monospace;
    font-weight: 900;
    font-size: 16px;
    background-color: #EEEEEE;
    color: #0E0E0E;
    padding: 0 5px;
    font-style: normal;
}

a {
  font-family: 'Fira Code', monospace;
  padding: 2px 2px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}