h1 {
    font-family: 'Fira Mono', monospace;
    color: #171717;
    font-weight: 700;
}

::selection {
  color: #FFFFFF;
  background: #0E0E0E;
}

code {
    font-family: 'Fira Code', monospace;
    background-color: #EEEEEE;
    color: #0E0E0E;
    padding: 2px 2px;
    border-radius: 6px;
}

a {
  font-family: 'Fira Mono', monospace;
  padding: 2px 0;
  border-bottom: 1px solid;
}

a:link {
  background: #EEEEEE;
  color: #0E0E0E;
}

a:visited {
  color: #0E0E0E;
}

a:focus {
  background: #EEEEEE;
  color: #0E0E0E;
  font-weight: 700;
}

a:hover {
  background: #0E0E0E;
  color: #EEEEEE;
  text-decoration: none;
  border: 1px solid;
}

a:active {
  background: #EEEEEE;
  color: #0E0E0E;
  font-weight: 700;
}
